@model CourseWork.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container text-center custom-group-form">
    <form asp-action="ChangePassword" asp-controller="Account" method="post">
        <div class="validation" asp-validation-summary="All"></div>

        <div class="mb-3">
			<input class="form-control" asp-for="Name" type="text" value="@User.Identity.Name" readonly />
		</div>

        <div class="mb-3">
            <input class="form-control" asp-for="NewPassword" placeholder="новый пароль" />
        </div>

        <div class="mb-3">
            <input class="form-control" asp-for="ConfirmPassword" placeholder="повторите новый пароль" />
        </div>

        <div>
            <button class="btn btn-outline-primary">Сохранить</button>
        </div>
    </form>
</div>

