* {
    margin: 0;
    padding: 0;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

textarea {
    height: 170px;
    max-height: 170px;
    width: 185px;
}

.custom-group-form {
    width: 300px;
}

.table-container {
    height: 350px;
    max-height: 350px;
}

.like {
    height: 45px;
    width: 45px;
}

.like-disabled {
    pointer-events: none;
    cursor: default;
}

.validation {
    color: #9e0d00;
}

.my-cursor {
    cursor: pointer;
}

.readonly-input {
    border: 0px;
    color: black;
}

fieldset {
    border: 1px solid #adb5bd;
    padding: 20px;
}

legend {
    width: inherit;
}

.pagination-icon {
    height: 38px;
    width: 42px;
}

/* images */

.parent {
    border-radius: 3px;
    overflow: hidden;
}

    .parent .image {
        width: 100%;
        display: block;
        background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
        height: 300px;
        max-height: 300px;
    }

    .parent .avatar {
        width: 150px;
        height: 150px;
        max-height: 150px;
        max-height: 150px;
        display: block;
        background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
        border-radius: 100px;
        border: 1px solid black;
    }

.object-fit img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

.gallery-item {
    position: relative;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

    .gallery-item:hover .gallery-item-info,
    .gallery-item:focus .gallery-item-info {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
    }

.gallery-item-info {
    display: none;
}

    .gallery-item-info li {
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
    }

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-comments {
    margin-left: 2.2rem;
}

.collection-content-container {
    padding: 0 7% 0 7%;
}

@media screen and (max-width: 768px) {
    .object-fit img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
    }
}

@media screen and (max-width: 575px) {
    .collection-content-container {
        padding: 0 15% 0 15%;
    }

    .object-fit img {
        object-fit: cover;
        width: 100%;
        height: 350px;
        background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
    }
}