* {
    margin: 0;
    padding: 0;
}

.dark-mode, .dark-mode div, .dark-mode .card-text,
.dark-mode .icon-white, .dark-mode p, .dark-mode h1,
.dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5,
.dark-mode h6, .dark-mode label, .dark-mode [scope="col"],
.dark-mode option, .dark-mode td, .dark-mode tr,
.dark-mode strong, .dark-mode .like, .dark-mode .readonly-input,
.dark-mode .jquery-comments ul.navigation li.active, .dark-mode .jquery-comments ul.navigation li:hover,
.dark-mode .editor-toolbar a {
    color: #adb5bd !important;
}

    .dark-mode .gallery-item-info, .dark-mode .gallery-item-info .icon-white {
        color: white;
    }

    .dark-mode .jquery-comments .textarea-wrapper .textarea, .dark-mode .jquery-comments .textarea-wrapper .textarea::placeholder {
        color: black
    }

    .dark-mode .CodeMirror {
        background: none !important;
        caret-color: #adb5bd !important;
    }

textarea {
    height: 170px;
    max-height: 170px;
    width: 185px;
}

.custom-group-form {
    width: 300px;
}

.table-container {
    height: 350px;
    max-height: 350px;
}

.like {
    font-size: 37px;
    color: red;
}

.like-disabled {
    font-size: 37px;
}

.validation {
    color: #9e0d00!important;
}

.my-cursor {
    cursor: pointer;
}

.readonly-input {
    border: 0px;
    background: transparent;
}

    .readonly-input:hover, .readonly-input:focus {
        border: 0px;
        background: transparent;
        outline: none !important;
    }

fieldset {
    border: 1px solid #adb5bd;
    padding: 20px;
}

legend {
    width: inherit;
    font-weight: bold;
}

.pagination-icon {
    width: 42px;
    height: 38px;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    box-shadow: 0 0 17px #666;
}

.gallery-item {
    position: relative;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

    .gallery-item:hover .gallery-item-info,
    .gallery-item:focus .gallery-item-info {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
    }

.gallery-item-info {
    display: none;
}

    .gallery-item-info li {
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
    }

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-comments {
    margin-left: 2.2rem;
}

.collection-content-container {
    padding: 0 7% 0 7%;
}

/* sm */
@media screen and (max-width: 767px) {
    .pagination-icon {
        width: 37px;
        height: 33.5px;
    }
}
