* {
    margin: 0;
    padding: 0;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

textarea {
    height: 170px;
    max-height: 170px;
    width: 185px;
}

.custom-group-form {
    width: 300px;
}

.table-container {
    height: 350px;
    max-height: 350px;
}

.like {
    height: 45px;
    width: 45px;
}

    .like:hover {
        -webkit-transform: scale(1)
    }

.like-disabled {
    pointer-events: none;
    cursor: default;
}

.custom-border {
    border: 1px solid #ccc !important;
    border-radius: 13px;
}

.parent {
    border-radius: 3px;
    overflow: hidden;
}

    .parent .image {
        width: 100%;
        display: block;
        background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
        height: 300px;
        max-height: 300px;
    }

    .parent .avatar {
        width: 150px;
        height: 150px;
        max-height: 150px;
        max-height: 150px;
        display: block;
        background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
        border-radius: 100px;
        border: 1px solid black;
    }

.validation {
    color: #9e0d00;
}

.my-cursor {
    cursor: pointer;
}

.readonly-input {
    border: 0px;
    color: black;
}

fieldset {
    border: 1px solid #adb5bd;
    padding: 20px;
}

legend {
    width: inherit;
}