@using CourseWork.Models.Entities
@{
	ViewData["Title"] = "Админка";
}
@model List<User>

<div class="container text-center">
	<form asp-action="UsersForm" asp-controller="Admin" method="post">
		<button class="btn btn-outline-success" name="submitButton" value="Unlock">Unlock</button>
		<button class="btn btn-outline-warning" name="submitButton" value="Block">Block</button>
		<button class="btn btn-outline-warning" name="submitButton" value="AddToAdmin">Add to admin</button>
		<button class="btn btn-outline-danger" name="submitButton" value="RemoveFromAdmin">Remove from admin</button>
		<button class="btn btn-outline-danger" name="submitButton" value="Delete">Delete</button><br /><br />

		<div style="overflow: auto;">
			<table class="table table-sm">
				<thead>
					<tr>
						<th scope="col">Выбрать все <input type="checkbox" onClick="toggle(this)" /></th>
						<th scope="col">ID</th>
						<th scope="col">Имя</th>
						<th scope="col">Дата регистрации</th>
						<th scope="col">Статус</th>
						<th scope="col">Роль</th>
					</tr>
				</thead>
				<tbody>
					@foreach (User user in Model)
					{
						<tr>
							<td><input type="checkbox" name="selectedUsers" value="@user.Id" /></td>
							<td><p>@user.Id</p></td>
							<td><p>@user.Name</p></td>
							<td><p>@user.RegistrationDate.ToString()</p></td>
							<td>
								@if (user.Status)
								{
									<p>Активный</p>
								}
								else
								{
									<p>Заблокирован</p>
								}

							</td>
							<td>
								@if(user.RoleId == 1)
								{
									<p>Админ</p>
								}
								else
								{
									<p>Пользователь</p>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</form>
</div>
