@if (User.Identity.IsAuthenticated)
{
	<div class="container overflow-hidden text-center comment">
		<div class="row">
			<div class="col-8">
				<input class="form-control" type="text" placeholder="Оставить коментарий" id="comment">
			</div>
			<div class="col-4">
				<input class="btn btn-outline-primary d-flex justify-content-start" type="submit" value="Отправить" id="sendComment">
			</div>
		</div>
	</div>
}
else
{
	<div class="comment">
		<p>Чтобы оставлять комментарии <a href="/Account/Login">авторизируйтесь</a></p>
	</div>
}
<hr />
<div class="row">
	<div class="list-group col-12 pl-3" id="comments"></div>
</div>
