@{
	ViewData["Title"] = "Профиль";
}

<div class="row">
	<div class="col-md-6 col-lg-4">
		@if (User.IsInRole("admin"))
		{
			<a class="list-group-item list-group-item-action list-group-item-danger" href="/Admin">Админка</a>
		}
		<a class="list-group-item list-group-item-action list-group-item-light" href="/Collection/CreateCollection">Создать коллекцию</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="#">Мои коллекции</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="/Item/CreateItem">Создать айтем</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="#">Мои айтемы</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="#">Поменять пароль</a>
		<a class="list-group-item list-group-item-action list-group-item-light" href="#">Редактирование профиля</a>
	</div>
	<div class="col-md-6  text-center">
		<img class="avatar" src="~/images/avatar.png" alt="avatar_logo">
		<h3>@User.Identity.Name</h3>
		<p>Создано коллекций: @ViewData["CollectionsCount"]</p>
		<p>Создано айтемов: @ViewData["ItemsCount"]</p>
		<p>Количество лайков: @ViewData["LikesCount"]</p>
	</div>
</div>

