@model List<CourseWork.Models.Entities.Collection>
@{
    ViewData["Title"] = "Мои коллекции";
}

<h1 class="text-center">Список моих коллекций</h1>
<div class="row">
    @if(Model.Count == 0)
    {
        <h1 class="text-center">Вы пока не создали ни одну коллекцию</h1>
    }
    @foreach(var col in Model)
    {
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 d-flex justify-content-center">
			<div class="card item">
				<img src="~/images/imgnotfound2.jpg" onError="this.src='/images/imgnotfound.jpg'" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title">@col.Name</h5>
					<p class="card-text">@col.Description.Substring(0, Math.Min(col.Description.Length, 50))</p>
					<a href="/Profile/EditCollection/@col.Id" class="btn btn-primary stretched-link">Редактировать</a>
				</div>
			</div>
		</div>
	}
</div>

