@model List<CourseWork.Models.Entities.Item>
@{
	ViewData["Title"] = "MyItems";
}

<h1 class="text-center text-dark">Мои айтемы</h1>
<div class="container">
	@if (Model.Count == 0)
	{
		<h4 class="text-center text-dark">Вы пока не создали ни одного айтема</h4>
	}
	else
	{
		@foreach (var item in Model)
		{
			<div class="row m-1 custom-border">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 mt-2">
					<p>@item.Name</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center mb-2 mt-2">
					<a class="btn btn-outline-primary" href="/Profile/EditItem/@item.Id">Редактировать</a>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center mb-2 mt-2">
					<a class="btn btn-outline-danger" href="/Profile/DeleteItem/@item.Id">Удалить</a>
				</div>
			</div>
		}
	}

</div>

