@model CourseWork.Domain.ViewModels.Item.CreateItemViewModel

@{
	ViewData["Title"] = "CreateItem";
}

<h1 class="text-center">Создать айтем</h1>

<div class="container text-center custom-group-form">
	<form asp-action="CreateItem" asp-controller="Item" enctype="multipart/form-data" method="post">
		<div class="validation" asp-validation-summary="All"></div>

		<div class="mb-3">
			<label asp-for="Name">Название айтема</label><br />
			<input class="form-control" type="text" asp-for="Name" />
		</div>

		<div class="mb-3">
			<label asp-for="Content">Содержание айтема</label><br />
			<textarea class="form-control" asp-for="Content"></textarea>
		</div>

		<div class="mb-3">
			<p>Обложка айтема</p>
			<input type="file" class="form-control" name="image" /><br /><br />
		</div>

		<div>
			<button class="btn btn-outline-primary">Добавить</button>
		</div>
	</form>
</div>


