@using CourseWork.Domain.ViewModels.Shared;
@model IEnumerable<CourseWork.Domain.ViewModels.Item.ItemViewModel>

@{
    ViewData["Title"] = "MyItems";
}

@{
	var pageSize = Constants.ITEMS_PER_PAGE;
	var query = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString())
										.GetValueOrDefault("pageId");
	int pageId = string.IsNullOrWhiteSpace(query) ? 1 : int.Parse(query);

	var items = Model.Skip((pageId - 1) * pageSize).Take(pageSize);
	var pagination = new Pagination(Model.Count(), pageId, pageSize);
}

@if (Model.Any())
{
	<h1 class="text-center m-4">Мои айтемы</h1>
	<div class="row">
		@foreach (var item in Model)
		{
			<partial name="ItemPartial" for="@item" />
		}
	</div>
	<div class="ml-2">
		<partial name="PaginationPartial" for="@pagination" />
	</div>
}
else
{
	<h3 class="text-center">Ничего не найдено</h3>
}

@section Scripts {
	<script>
		var lazyLoadInstance = new LazyLoad({
			elements_selector: ".lazy"
		});
	</script>
}

