<hr />
@if (User.Identity.IsAuthenticated)
{
	<div class="row">
		<div class="col-9 col-md-10">
			<input class="form-control" type="text" placeholder="Оставить коментарий" id="comment">
		</div>
		<div class="col-3 col-md-2">
			<input class="btn btn-outline-primary" type="submit" value="Отправить" id="sendComment">
		</div>
	</div>
}
else
{
	<div>
		<p>Чтобы оставлять комментарии <a href="/Account/Login">авторизируйтесь</a></p>
	</div>
}
<hr />
<div class="row">
	<div class="list-group col-12 pl-3" id="comments"></div>
</div>
<div class="text-center">
	<button class="btn btn-secondary" id="showMore" style="display: none;">Показать еще</button>
</div>